body.dwc {font-family: 'Courier New', Courier, monospace;}
body {background-image: url('../images/mercedes-1-2.jpg');background-size: 1% 1000%;box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);}
.vis {max-width: 99%; margin-bottom: 5%;}
.sum-img {max-width: 70%; margin: 1rem;}
.mt5 {margin-top: 5%;}
.ml1 {margin-left: 1%;}
.dds {border:none!important;}
.nav-item li {font-weight: 500;}
.logo {text-decoration: none; color:inherit;}
h1, h3 {font-style: italic;}
.selected {border: 2px inset !important}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
}
.mscroller {
  position: relative;
  /* max-height: 75%; */
  overflow: auto;
  }
.tscroller {
  display: block;
  }

  .row a {color:#000; text-decoration: none;}
  .row a:hover, .row a img:hover, i:hover {background-color: rgba(0,207,186);color:white; border: 2px solid rgba(0,207,186)!important}
  .row .alert-primary {background-color: rgba(0,207,186,0.9); color: #fff;}
  .row .alert h3 {color: #000;}
  .bg-light hr {background-color:black}
  .bg-light h1, p {color: black;}

  h4 {text-align: center;}

  .navbar-nav li:hover, .navbar li:hover {background-color: rgba(0,0,0,0.1)}